<div class="container" id="inicio">
  <div class="row art">
    <div class="col s12 l5">
        <img src="../../assets/triskel_sm.jpg" alt="triskel" class="" />
    </div>
    <div class="col s12 l7">
        <h1>Dominó..la continuidad de tu vida..</h1>
        <p class="lead"><i>un proyecto hecho por uruguayos.. para uruguayos..</i></p>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row art">
    <div class="col s12">
      <h2>Que hacemos?</h2>
       <p>Brindamos un espacio terapeutico para la resocializacion de las personas. Trabajamos enfocados a la sociedad uruguaya y en <b>EXCLUSIVO CON HOMBRES JUDICIALIZADOS</b>.          
          Creemos en el cambio verdadero, por eso te brindamos las herramientas para conseguirlo.          
          Depende de vos conseguirlo...Hacete cargo de tu vida!</p>
    </div>
  </div> 
  <br>
  <br>
  <br>
  <br>
</div>
