<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <p class="lead">Somos un equipo comprometido y enamorados del proyecto. 
          Creemos en el resocializacion de las personas y trabajamos para lograrlo, brindando un espacio terapeutico para los usuarios.</p><p></p>
          <ul>
            <li>Estamos comprometidos y creemos en lo que hacemos.</li>
            <li>No contamos con financiacion, somos autosustentables</li>
            <li>Nos enfocamos en la poblacion uruguaya</li>
          </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacto</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:info@proyectodomino.com.uy?Subject=Contacto%20web">info@proyectodomino.com.uy</a></li>
          <li><h6>Telefono - Whatsapp - SMS</h6></li>
          <li>092 166 035</li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <label>Copyright © PROYECTO DOMINO 2018</label>
    <a class="grey-text text-lighten-4 right" [routerLink]="['/login']">Ingreso de staff</a>
    </div>
  </div>
</footer>
    